pre {
  overflow-x: hidden;
}

$terminal_fonts: "Source Code Pro", Monaco, "Andale Mono", monospace;

.awk_text {
  padding-top: 0.5rem;
  width: 100%;
  background-color: #f4f3ec;
  margin-bottom: 1rem;
  outline: none;

  &#mail_list {
    height: 14rem;
  }
  &#earnings {
    height: 15rem;
  }

  &#people {
    height: 15rem;
  }

  font-family: $terminal_fonts
}

.awk {
  * {
    font-family: $terminal_fonts;
    box-sizing: border-box;
  }
  position: relative;

  .awk_file_name_hover {
    position: absolute;
    margin-top: -.4rem;
    background-color: white;
    font-size: .7rem;
    margin-left: 1rem;
  }

  textarea.awk_src {
    padding-top: 0.5rem;
    width: 100%;
    max-width: 100%;
    resize: vertical;
    &.awk_src_medium {
      height: 9rem;
    }
    &.awk_src_large {
      height: 12rem;
    }
  }
  div.awk_input {
    background-color: black;
    color: white;
    border: 0;
    outline: none;
    font-size: .8rem;
    margin-bottom: 0rem;
    padding: 0.5rem;
    width: 100%;
  }

  samp.awk_output {
    width: 100%;
    display: none;
    padding: 0.5rem;
    margin: 0;
    font-size: .8rem;
    background-color: rgba(31, 29, 29, 0.94);
    color: white;

    &.exception, &.incorrect {
      color: red;
    }

    &.correct {
      background-color: forestgreen;
    }
  }

  .awk_reveal {
    margin-top: 0.5rem;

  }
}

.awk_text {
  resize: vertical;
  width: 100%;
  background-color: white;
}
