@import "awk.scss";
@import "awk2.scss";
@import "scancode.scss";

$alert_yellow: #ffff85;

a:visited, a {
  color: blue;
}
a {
  overflow-wrap: anywhere;
}

code {

}

nav {
  //background-color: grey;
}

h1 {
  margin-top: 0;
}
article {

  &.post pre:not(.awk_output) {
    //  //margin-top: 2rem;
    max-width: 40rem;
    //overflow: scroll;
  }

  img {
    max-width: 100%;
  }
}

h1 {
  color: black;
  margin-bottom: 0;
}


#latest-post {
  margin-top: 1rem;
  padding: .5rem;
  background-color: $alert_yellow;
  border-radius: .3rem;
  display: none
  //border: 1px solid orange
}

#homepage-link {
  text-decoration: none;
}

html {
  font-size: 125%;
  background-color: rgb(255, 255, 255);
  font-family: Georgia, serif;
}

.small {
  font-size: .8rem;
}


body {
  margin: 0rem auto 0rem auto;
  padding: 2rem;
  padding-top: 1rem;
  padding-bottom: 1rem;
  max-width: 40rem;
  display: grid;
  grid-template-columns: 3fr 1fr;
  grid-column-gap: 1rem;
  grid-template-rows: auto;
  grid-template-areas: 'content info';
  &.no_info {
    grid-column-gap: 0;
    max-width: 40rem;
    grid-template-columns: 1fr;
  }
  &.wide {
    max-width: 60rem;
  }
}

#info {
  #info-links {
    img {
      height: 2rem;
      width: 2rem;
    }
  }
  grid-area: info;
  display: grid;
  grid-template-rows: min-content min-content;
  grid-template-columns: auto;
  grid-template-areas: 'photo' 'links';
  ul {
    grid-area: links;
    list-style: none;
    padding-left:0;
  }

  a {
    margin-top: .5rem;
    display: flex;
    align-items: end;
  }

  #me {
    grid-area: photo;
    img {
      max-width: 6rem;
      width: 6rem;
      height: 8rem;
    }
  }
  img:not(.special) {
    width: 1.5rem;
    margin-right: .5rem;
    height: auto;
  }
}


span.new {
  background-color: $alert_yellow;
  border-radius: .1rem;
  padding: 0.1rem 0.2rem;
  margin-left: 0.3rem;

}
figure {
  margin-left: 0
}

@media screen and (max-width: 700px) {
  body {
    grid-template-columns: 100%;
    grid-template-rows: auto auto;
    grid-template-areas:
          'info'
          'content';
    padding-left: 0.5rem;
    grid-column-gap: 0;
    padding-top: 0.5rem;
    padding-right: 0.5rem;
    font-size: 1rem;
    max-width: unset;
  }
  #info {
    li {
      font-size: 100%;
    }
    grid-template-rows: auto;
    grid-template-columns: min-content 1fr;
    grid-column-gap: 1rem;
    grid-template-areas: 'photo links';
    #info-links {
      img {
        margin-bottom: -0.4rem;
      }
    }
  }
  #me {
    margin-top: auto;
    margin-bottom: 1rem;
  }
}

.spaced-list {
  li {
    margin-bottom: .5rem;
  }
}

.external-img {
  width: auto;
  height: .75rem;
}

#header-and-page {
  grid-area: content;
}
