<div class="awk">
    <div data-awk_file="{{ include.awk_file }}" data-awk_soln="{{ include.awk_soln }}">
        <span class="awk_file_name_hover">{{ include.awk_src }}.awk</span>
        <textarea class="awk_src {{ include.awk_src_class }}">
{{ include.init }}
        </textarea><br/>
        <div role='textbox' class="awk_input">awk -f {{ include.awk_src }}.awk {{ include.awk_file }}.txt</div>
        <samp class="awk_output"></samp>
        <button class="awk_run" onClick="run_awk_input(this)">Run</button>
        <button class="awk_reveal" onClick="reveal(this)">Reveal Solution</button>
    </div>
</div>