---
---
<!DOCTYPE html>
<html lang="en">
{% include head.html %}
<body>
<aside id="info">
    <picture id="me" class='special'>
        <source type="image/webp" srcset="/assets/images/nate-small.webp">
        <source type="image/png" srcset="/assets/images/nate-small.png">
        <img class='special'
             alt="An image of Nate, it's a piece of digital art. Wearing a black shirt. There is a brazilian rainbow boa around his neck"
             src="/assets/images/mail.png"/>
    </picture>
    </div>
    <section>
        <ul id="info-links">
            <li>
                <a target="_blank" href="mailto:n8@u.northwestern.edu">
                    <picture>
                        <source type="image/webp" srcset="/assets/images/mail.webp">
                        <source type="image/png" srcset="/assets/images/mail.png">
                        <img alt="Envelope Icon" src="/assets/images/mail.png"/>
                    </picture>
                    n8@u.northwestern.edu
                </a>
            </li>
            <li>
                <a target="_blank" rel="noopener" href="https://github.com/n8ta">
                    <picture>
                        <source type="image/webp" srcset="/assets/images/github.webp">
                        <source type="image/png" srcset="/assets/images/github.png">
                        <img alt="Github Logo" src="/assets/images/github.png"/>
                    </picture>
                    n8ta@Github
                </a>
            </li>
            <li>
                <a target="_blank" rel="noopener" href="https://www.linkedin.com/in/nathaniel-tracy-amoroso-549374101/">
                    <picture>
                        <source type="image/webp" srcset="/assets/images/linkedin.webp">
                        <source type="image/png" srcset="/assets/images/linkedin.png">
                        <img alt="Linkedin Logo" src="/assets/images/linkedin.png"/>
                    </picture>
                    Linkedin
                </a>
            </li>
            <li>
                <a target="_blank" href="/assets/files/NateTracyAmoroso-Resume.pdf?3">
                    <picture>
                        <source type="image/webp" srcset="/assets/images/resume.webp">
                        <source type="image/png" srcset="/assets/images/resume.png">
                        <img alt="Piece of paper" src="/assets/images/resume.png"/>
                    </picture>
                    Resume
                </a>
            </li>
            <li>
                <a target="_blank" href="/feed.xml">
                    <picture>
                        <source type="image/webp" srcset="/assets/images/rss.webp">
                        <source type="image/png" srcset="/assets/images/rss.png">
                        <img alt="RSS Icon" src="/assets/images/rss.png">
                    </picture>
                    RSS
                </a>
            </li>
        </ul>
    </section>
</aside>
<div id="header-and-page">
    <a id='homepage-link' href="/"><h1>Nate Tracy-Amoroso</h1></a>

    {% for post in site.posts %}
    {% if page.url == "/index.html" or page.url == "/" %}
    <div class="latest-posts" data-time='{{ post.date | date: "%s" }}'>
        <div><strong>New Post</strong> {{ post.date | date: "%b %d" }}</div>
        <a href="{{ post.url }}">{{ post.title }}</a>
    </div>

    {% endif %}
    {% endfor %}

    <main>
        {{ content }}
    </main>

</div>

</body>
</html>
