---
---
<!DOCTYPE html>
<html lang="en">
{% include head.html %}
<body>
<aside id="info">
    <div id="me">
        <div>
            <img class='special'
                 alt="An image of Nate, it's not a photo but a piece of digital art. Wearing a black shirt. There is a brazilian rainbow boa around his neck"
                 src="/assets/images/nate-small.png"/>
        </div>
    </div>
    <div>
        <ul>
            <li>
                <a target="_blank" href="mailto:n8@u.northwestern.edu">
                    <img alt="Envelope Icon" src="/assets/images/mail.png"/>
                    n8@u.northwestern.edu
                </a>
            </li>
            <li>
                <a target="_blank" rel="noopener" href="https://github.com/n8ta">
                    <img alt="Github Logo" src="/assets/images/github.png"/>
                    n8ta@Github
                </a>
            </li>
            <li>
                <a target="_blank" rel="noopener" href="https://www.linkedin.com/in/nathaniel-tracy-amoroso-549374101/">
                    <img alt="Linkedin Logo" src="/assets/images/linkedin.png"/>
                    Linkedin
                </a>
            </li>
            <li>
                <a target="_blank" href="/assets/files/NateTracyAmoroso-Resume.pdf">
                    <img alt="Piece of paper" src="/assets/images/resume.png"/>
                    Resume
                </a>
            </li>
            <li>
                <a target="_blank" href="/feed.xml">
                    <img alt="RSS Icon" src="/assets/images/rss-symbol.png">
                    RSS
                </a>
            </li>
        </ul>
    </div>
</aside>
<div id="header-and-page">
    <a id='homepage-link' href="/"><h1>Nate Tracy-Amoroso</h1></a>

    {% for post in site.posts %}
    {% if page.url == "/index.html" or page.url == "/" %}
    <div id="latest-post" data-time='{{ post.date | date: "%s" }}'>
        <div><strong>New Post</strong> {{ post.date | date: "%b %d" }}</div>
        <a href="{{ post.url }}">{{ post.title }}</a>
    </div>

    {% endif %}
    {% endfor %}

    <main>
        {{ content }}
    </main>

</div>

</body>
</html>
